# Curso Basico

# <font color='green'>bar</font>

In [ ]:
# Funciones que debo investiga:
# ASCII
chr()  # Ejercico de RUEDA
ord()
# Funcion Enumerate()

## Proyecto Palindromo

In [27]:
# Un palindromo es una palabra o frace que se lee igual al derecho y al revez --> Ej: Luz Azul
Texto = input("Ingrese un String: ")
Texto = Texto.replace(" ","").lower()
analisis_texto = Texto[::-1]
if Texto == analisis_texto:
    print('Es un palindromo')
else:
    print('No es un palindromo')
#analisis_texto

Ingrese un String: Luz Azul
Es un palindromo

### Primer programa: Conversor de monedas

In [2]:
pesos = float(input("Ingrese cantidad de pesos que tiene: "))
valor_dolar = 110.96
dolares = round(pesos / valor_dolar,3)
print('La convercion de ',pesos,'pesos a dolares es ',dolares)

Ingrese cantidad de pesos que tiene: 500
La convercion de  500.0 pesos a dolares es  4.506

In [9]:
def conversor(tipo_peso,valor_dolar,cantidad_pesos):
    dolares = round(cantidad_pesos / valor_dolar,3)
    return print('La convercion de ',cantidad_pesos,'pesos a dolares es ',dolares)

In [11]:
## Agregar paises

menu = """
Bienvenido al conversor de monedas 游쑆n1 - Pesos colombianos
2 - Pesos argentinos
3 - Pesos mexicanos

"""
print(menu)
opcion = int(input("Elige una Opcion: "))
if opcion == 1:
    conversor(opcion,valor_dolar = int(input("Ingrese el valor del dolar en su pais: ")),cantidad_pesos = int(input("Ingrese la cantidad de pesos que tiene: ")))
elif opcion == 2:
    conversor(opcion,valor_dolar = int(input("Ingrese el valor del dolar en su pais: ")),cantidad_pesos = int(input("Ingrese la cantidad de pesos que tiene: ")))
elif opcion == 3:
    conversor(opcion,valor_dolar = int(input("Ingrese el valor del dolar en su pais: ")),cantidad_pesos = int(input("Ingrese la cantidad de pesos que tiene: ")))
else:
    print('Elige una opcion correcta')

Bienvenido al conversor de monedas 游쑆n1 - Pesos colombianos
2 - Pesos argentinos
3 - Pesos mexicanos


Elige una Opcion: 3
Ingrese el valor del dolar en su pais: 24
Ingrese la cantidad de pesos que tiene: 67
La convercion de  67 pesos a dolares es  2.792

### Bucles

In [53]:
def run():
    LIMITE = 1000
    contador = 0
    operacion = 2 ** contador
    while operacion < LIMITE: 
        print('2 elevado a '+str(contador)+' es igual a: ',operacion)
        contador += 1
        operacion = 2**contador
    
    
if __name__ == '__main__':
    run()

2 elevado a 0 es igual a:  1
2 elevado a 1 es igual a:  2
2 elevado a 2 es igual a:  4
2 elevado a 3 es igual a:  8
2 elevado a 4 es igual a:  16
2 elevado a 5 es igual a:  32
2 elevado a 6 es igual a:  64
2 elevado a 7 es igual a:  128
2 elevado a 8 es igual a:  256
2 elevado a 9 es igual a:  512

### Comprobar si un numero es primo

In [ ]:
def es_primo(numero):
    contador = 0
    for i in range(1,numero+1):
        if i == 1 or i == numero:
            continue
        if numero % i == 0:
            contador += 1
    if contador == 0:
        return True
    else:
        return False
def run():
    numero = int(input('Ingrese un numero: '))
    if es_primo(numero):  #Se ejecutara si el resultado de la funcion es_primo es 'True'
        print('Es primo')
    else:
        print('No es primo')
if __name__ == '__main__':
    run()

### Adivina el numero

In [94]:
import random
def run():
    
    numero_ganador = random.randint(0,101)
    #print("el numero ganador es: ",numero_ganador)
    numero = int(input('Ingresa un n칰mero del 1 al 100: '))
    while numero != numero_ganador:    
        if numero < numero_ganador:
            print('Elige un numero m치s alto')
        else:
            print('Elige un numero m치s chico')
        numero = int(input('Ingresa otro n칰mero: '))
    if numero == numero_ganador:
        print('Ganaste!')
    
    
if __name__ == '__main__':
    run()

Ingresa un n칰mero: 85
Elige un numero m치s chico
Ingresa otro n칰mero: 50
Elige un numero m치s alto
Ingresa otro n칰mero: 70
Elige un numero m치s alto
Ingresa otro n칰mero: 75
Elige un numero m치s alto
Ingresa otro n칰mero: 78
Elige un numero m치s alto
Ingresa otro n칰mero: 79
Elige un numero m치s alto
Ingresa otro n칰mero: 80
Elige un numero m치s alto
Ingresa otro n칰mero: 83
Elige un numero m치s chico
Ingresa otro n칰mero: 82
Ganaste!

### Proyecto Generador de Contrase침as

In [104]:
import random
def generar_contrase침a():
    mayusculas = ['A','B','C','D','E','F','G','H','I']
    minusculas = ['a','b','c','d','e','f','g','h','i']
    simbolos = ['!','%','@','/','#','=']
    numeros = ['1','2','3','4','5','6','7','8','9','0']
    caracteres = mayusculas+minusculas+simbolos+numeros
    contrasena = []
    for i in range(15):
        caracter_random = random.choice(caracteres)
        contrasena.append(caracter_random)
    contrasena = "".join(contrasena)
    return contrasena
def run():
    contrasena = generar_contrase침a()
    print('Tu nueva contrase침a es: ',contrasena)
if __name__ == '__main__':
    run()

Tu nueva contrase침a es:  G05D@eGAE20EDEC

In [114]:
# Otra forma
import random
def generar_contrase침a():
    mayusculas = ['A','B','C','D','E','F','G','H','I']
    minusculas = ['a','b','c','d','e','f','g','h','i']
    simbolos = ['!','%','@','/','#','=']
    numeros = ['1','2','3','4','5','6','7','8','9','0']
    caracteres = mayusculas+minusculas+simbolos+numeros
    contrasena = []
    contrasena=random.sample(caracteres, 15)
    contrasena = "".join(contrasena)
    return contrasena
def run():
    contrasena = generar_contrase침a()
    print('Tu nueva contrase침a es: ',contrasena)
if __name__ == '__main__':
    run()

Tu nueva contrase침a es:  8b%ECA150/4#3!e

### Reproducir la letra de cumplea침os feliz

In [14]:
persona = input('Nombre del cumplea침ero: ')
str1 = '춰Cumplea침os feliz!'
str2 = 'Te desamos todos'
print((str1+'\n')*2 + str2.replace('todos',persona)+ ',\n'+ str1)

Nombre del cumplea침ero: Fernando
춰Cumplea침os feliz!
춰Cumplea침os feliz!
Te desamos Fernando,
춰Cumplea침os feliz!

###  EJERCICIO DEL VIDEO 12 CAP 4

In [11]:
string = 'El camino esta cerrado pero seguro que podemos encontrar una alternativa'
print('Este es el string original: ',end=' ')
print(string)
print('Introduce una palabra que quieras eliminar del string original')
palabra_eliminar = input('Ingrese la palabra: ')

indice = string.find(palabra_eliminar)
sub_string = string[:indice] + string[indice+1+ len(palabra_eliminar):]
print(sub_string)

Este es el string original:  El camino esta cerrado pero seguro que podemos encontrar una alternativa
Introduce una palabra que quieras eliminar del string original
Ingrese la palabra: pero
El camino esta cerrado seguro que podemos encontrar una alternativa

In [26]:
string = input('Ingrese un texto: ')

Ingrese un texto: HOjA NUMERO jUAN

In [ ]:
print('Ej1:',string.upper())
print('Ej2:',string.title())

In [39]:
texto = string[:2].lower()+string[2].upper()+string[3:].lower()
print(texto)

hoJa numero juan

In [40]:
string = input('Ingrese un texto: ')
hola = string[0].lower()+string[1:len(string)-1].upper()+string[-1].lower()
print(hola)

Ingrese un texto: hooola mi nombre es fernando
hOOOLA MI NOMBRE ES FERNANDo

In [48]:
string = input('Ingrese un texto: ')
sub = input('ingresa una letra: ')

print(string.replace(string[0:2],sub))

Ingrese un texto: hola fer
ingresa una letra: nano
nanola fer

In [50]:
# Otro ejercicio
a침o_nacimiento = int(input('Ingrese se a침o de nacimiento: '))
a침o_actual  = int(input('Ingrese el a침o actual: '))
diferencia = a침o_actual - a침o_nacimiento
print('Su edad es: {} a침os'.format(diferencia))

Ingrese se a침o de nacimiento: 1997
Ingrese el a침o actual: 2022
Su edad es: 25 a침os

In [55]:
# Ejercicio
s = input('Ingrese un texto: \n')
if ' ' in s:
    h = s.count(' ')
    print('El String si contiene espacios en blanco, y contiene {}.'.format(h))

Ingrese un texto:
hola
El String si contiene espacios en blanco, y contiene 1.

In [60]:
# Ejercicio
A = float(input(' Ingrese el valor de la variable A: '))
B = float(input(' Ingrese el valor de la variable B: '))

if A != 0:
    x = -B/A
    print('El valor de X, resultado de la ecuacion es {}.'.format(x))
else:
    print('No se puede resolver la ecuacion, debido a que A = 0.')

 Ingrese el valor de la variable A: 0
 Ingrese el valor de la variable B: 48
No se puede resolver la ecuacion, debido a que A = 0.

In [65]:
# Ejercicio par o impar
numero = int(input('Ingrese un numero: '))
print( 'El numero {} es Par.'.format(numero) if numero % 2 == 0 else 'El numero {} es Impar.'.format(numero))

Ingrese un numero: 33
El numero 33 es Impar.

In [72]:
# Cuadrado unidad
x = float(input('Ingrese el valor da la variable x: '))
y = float(input('Ingrese el valor da la variable y: '))
print("({},{}) esta dentro del cuadro unidad".format(x,y) if (x >= 0 and x<=1) and (y >= 0 and y<=1) else "({},{}) no esta dentro del cuadro unidad".format(x,y))

Ingrese el valor da la variable x: -0.5
Ingrese el valor da la variable y: 0
(-0.5,0.0) no esta dentro del cuadro unidad

In [85]:
# A침o bisiesto: es bisiesto si el a침o es divisible entre 4, pero no es multiplo de cien a no ser que lo sea de 400

a침o = int(input('Ingrese el a침o: '))
print('El a침o {} es bisiesto'.format(a침o) if ((a침o%4 == 0) and (a침o%100 != 0 or a침o == 400)) else 'El a침o {} no es bisiesto'.format(a침o))

Ingrese el a침o: 4
El a침o 4 es bisiesto

In [26]:
# Ejercicio de Meli
lista = [-7, -1, 8, -10, 6, 4, -8, 1, 7]
lista.sort()  # Ordenar lista de forma ascendente, pero no cambia el resultado al no ordenarla, obtengo la misma cantidad de tripletes
lista_final = []
suma_objetiva = 0
longitud = len(lista)
for j in lista:
    for i in lista:
        for x in lista:
            #print(x)
            if (j+i+x) == 0:
                lista_provi = []
                lista_provi.append(j)
                lista_provi.append(i)
                lista_provi.append(x)
                lista_final.append(lista_provi)
print('Tripletes:',lista_final)
print('\nCantidad de Tripletes que logran una suma objetiva igual a 0 es:',len(lista_final))
#print(lista_invertida)

Tripletes: [[-10, 4, 6], [-10, 6, 4], [-8, 1, 7], [-8, 4, 4], [-8, 7, 1], [-7, -1, 8], [-7, 1, 6], [-7, 6, 1], [-7, 8, -1], [-1, -7, 8], [-1, 8, -7], [1, -8, 7], [1, -7, 6], [1, 6, -7], [1, 7, -8], [4, -10, 6], [4, -8, 4], [4, 4, -8], [4, 6, -10], [6, -10, 4], [6, -7, 1], [6, 1, -7], [6, 4, -10], [7, -8, 1], [7, 1, -8], [8, -7, -1], [8, -1, -7]]

Cantidad de Tripletes que logran una suma objetiva igual a 0 es: 27

In [12]:
lista = [-7, -1, 8, -10, 6, 4, -8, 1, 7]
l = lista.reverse()
print(lista)

[7, 1, -8, 4, 6, -10, 8, -1, -7]

In [52]:
# Ejercicio de entrevista
#muetre del 1 al 100
#multiplos de 3 por la palabra fit
#multiplos de 5 por la palabra but
#multiplos de 3 y 5 por fitbut
for x in range(1,101):
    if (x%3 ==0 and x%5 == 0):
        x = 'fitbut'
    elif (x%3 == 0):
        x = 'fit'
    elif (x%5 == 0):
        x = 'but'
    print(x)

1
2
fit
4
but
fit
7
8
fit
but
11
fit
13
14
fitbut
16
17
fit
19
but
fit
22
23
fit
but
26
fit
28
29
fitbut
31
32
fit
34
but
fit
37
38
fit
but
41
fit
43
44
fitbut
46
47
fit
49
but
fit
52
53
fit
but
56
fit
58
59
fitbut
61
62
fit
64
but
fit
67
68
fit
but
71
fit
73
74
fitbut
76
77
fit
79
but
fit
82
83
fit
but
86
fit
88
89
fitbut
91
92
fit
94
but
fit
97
98
fit
but

In [61]:
# Ejercicio
sr = input('Ingrese un string: ')
sr = sr.lower()
i = 0
count = 0
while i < len(sr):
    if sr[i] == 'a' or sr[i] == 'e' or sr[i] == 'i' or sr[i] == 'o' or sr[i] == 'u':
        count += 1
    i += 1

print('Hay {} vocales en el string.'.format(count))

Ingrese un string: Hola mi nombre es fernando mucho gustO
Hay 13 vocales en el string.

In [79]:
# Figonacci

figo_ant = 1
figo_act = 1
i = 0
figo_actual = 0
while figo_actual < 500000:
    print(figo_ant)
    figo_actual = figo_ant + figo_act
    figo_ant = figo_act
    figo_act =figo_actual
    i += 1
    if i == 20: # Solo me dara hasta el indice numero 20
        break

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

In [86]:
# El usuario introduzca  numero por teclado e iremos sumandolos. Cuando el usuario introduzca 0 saldremos del bucle while.
# Al salid del bucle con un else mostraremos la suma.
suma = 0
a = True
while a:
    numero = int(input('Ingrese un numero: '))
    if numero != 0:
        suma += numero
    else:
        a = False
else:
    print('El resultado de la suma es: {} .'.format(suma))

Ingrese un numero: 4
Ingrese un numero: 5
Ingrese un numero: 0
El resultado de la suma es: 9 .

In [88]:
# Otra forma mas efectiva del ejercicio de arriba:
n = float(input('Ingrese un numero: '))
suma = 0
while n !=0:
    suma +=n
    n = float(input('Ingrese un numero: '))
else:
    print('El resultado de la suma es: {}'.format(suma))

Ingrese un numero: 8
Ingrese un numero: 2
Ingrese un numero: 0
El resultado de la suma es: 10.0

In [93]:
# 65 a 90 RUEDA

n = int(input('Introduce una rotacion: '))
i = 65

while i<=90:
    if i + n <= 90:
        
        print(chr(i) + ':' + chr(i+n)) # Desplaza el caracter i, n posiciones
    else:
        print(chr(i) + ':' + chr((i-26)+n)) # Esto vuelve a la 'A'
    i +=1

Introduce una rotacion: 10
A:K
B:L
C:M
D:N
E:O
F:P
G:Q
H:R
I:S
J:T
K:U
L:V
M:W
N:X
O:Y
P:Z
Q:A
R:B
S:C
T:D
U:E
V:F
W:G
X:H
Y:I
Z:J

In [29]:
string = input('Ingrese un texto: ')
print('\n')
c =''
for x in string:
    c = x + c # Cambia si sumo primer c y luego x --> obtendria el mismo mensaje que asigne de entrada
print(c)

Ingrese un texto: Hola mi nombre es Fernando.


.odnanreF se erbmon im aloH

In [30]:
string = input('Ingrese un texto: ')
print('\n')
c =''
for x in string[::-1]:
    c += x
print(c)

Ingrese un texto: Hola mi nombre es Fernando.


.odnanreF se erbmon im aloH

In [26]:
s = "hola"
s_in = ""

for c in s:
    
    s_in = c + s_in
    print(s_in)

print(s_in)

h
oh
loh
aloh
aloh

In [33]:
# Ejercicio:

string = input('Ingrese un texto: ')
string = string.lower()
letra = input('Letra a eliminar: ')
letra = letra.lower()
h =''
for x in string:
    if x == letra:
        continue
    h += x
print(h)

Ingrese un texto: hola mi nombre es fernando
Letra a eliminar: o
hla mi nmbre es fernand

In [34]:
string = input('Ingrese un texto: ')
string = string.lower()
letra = input('Letra a eliminar: ')
letra = letra.lower()
for x in string:
    if x == letra:
        continue
    print(x,end = '')

Ingrese un texto: hola mi nombre es fernando
Letra a eliminar: o
hla mi nmbre es fernand

In [65]:
# Ejercicio
#eliminar vocale y detener si una letra aparece n veces.
string = input('Ingrese un texto: ')
string = string.lower()
letra = input('Letra que detendra el programa: ')
letra = letra.lower()
n = int(input('Cuantas veces debe aparecer la letra para detener el programa?: '))
i = 0
s = ''
for x in string:        
    
    if i >= n:
        print('\n*El programa se detuvo, ya que la letra indicada alcanzo la el numero maximo de apariciones indicado.*\n')
        break
    if x == letra:
        i+=1
    elif x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u':
        continue
    s += x
print(s, end='')

Ingrese un texto: Hola mi nombre es fernando y estudio en la faculta de ciencias exacta y tecnologia, mucho gusto
Letra que detendra el programa: c
Cuantas veces debe aparecer la letra para detener el programa?: 4

*El programa se detuvo, ya que la letra indicada alcanzo la el numero maximo de apariciones indicado.*

hl m nmbr s frnnd y std n l fclt d cncs xc

In [2]:
# Ejercicio
n = int(input('Ingrese cuando numeros desea agregar: '))
lista = []
for x in range(n):
    numero = int(input('Ingrese un numero: '))
    lista.append(numero)
print(lista)

Ingrese cuando numeros desea agregar: 4
Ingrese un numero: 45
Ingrese un numero: 62
Ingrese un numero: 4563
Ingrese un numero: 489
[45, 62, 4563, 489]

In [21]:
# Ejercicio --> quiitar elemento de una lista
lista = [1,6,3,5,8,4,6,2,6,8,6,11,5,6,8,6]
dato = int(input('Ingrese el numero que desea eliminar: '))
i = 0
n= 0
while lista.count(dato) !=0:
    if dato == lista[i]:
        lista.remove(dato)
        n += 1
    i +=1
else:
    print('habian {} valores igual a {}.\nLa lista quedaria de la siguiente forma: '.format(n,dato),lista)

Ingrese el numero que desea eliminar: 5
habian 2 valores igual a 5.
La lista quedaria de la siguiente forma:  [1, 6, 3, 8, 4, 6, 2, 6, 8, 6, 11, 6, 8, 6]

In [40]:
dato = input('Orden Ascendente (A) o Orden Descendente (D) --> Ingrese A o D: ')
lista = []
for x in range(10):
    lista.append(int(input('{}: Ingrese un numero: '.format(x+1))))

if dato == 'A':
    lista.sort()
    print('Lista Ordenada Ascendentemente: ',lista)
elif dato == 'D':
    lista.sort(reverse = True)
    print('Lista Ordenada Descendentemente: ',lista)
else:
    print('Ingrese correctamente la forma en que se ordenara la lista')

Orden Ascendente (A) o Orden Descendente (D) --> Ingrese A o D: D
1: Ingrese un numero: 56
2: Ingrese un numero: 1
3: Ingrese un numero: 32
4: Ingrese un numero: 48
5: Ingrese un numero: 3211
6: Ingrese un numero: 59
7: Ingrese un numero: 78
8: Ingrese un numero: 315
9: Ingrese un numero: 69
10: Ingrese un numero: 43
Lista Ordenada Descendentemente:  [3211, 315, 78, 69, 59, 56, 48, 43, 32, 1]

In [4]:
# Ejercicio
lista = []
i = 0
for x in range(0,31):
    if x%2!=0:
        lista.append(x)
        print('El valor {} ocupa el inidice {}'.format(x,i))
        i+=1
lista

El valor 1 ocupa el inidice 0
El valor 3 ocupa el inidice 1
El valor 5 ocupa el inidice 2
El valor 7 ocupa el inidice 3
El valor 9 ocupa el inidice 4
El valor 11 ocupa el inidice 5
El valor 13 ocupa el inidice 6
El valor 15 ocupa el inidice 7
El valor 17 ocupa el inidice 8
El valor 19 ocupa el inidice 9
El valor 21 ocupa el inidice 10
El valor 23 ocupa el inidice 11
El valor 25 ocupa el inidice 12
El valor 27 ocupa el inidice 13
El valor 29 ocupa el inidice 14

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [9]:
# Otra forma del ejercicio anterior
lista = list(range(1,31,2))
for x in range(len(lista)):  
    print('El valor {}, ocupa el inidice {}'.format(lista[x],x))

El valor 1, ocupa el inidice 0
El valor 3, ocupa el inidice 1
El valor 5, ocupa el inidice 2
El valor 7, ocupa el inidice 3
El valor 9, ocupa el inidice 4
El valor 11, ocupa el inidice 5
El valor 13, ocupa el inidice 6
El valor 15, ocupa el inidice 7
El valor 17, ocupa el inidice 8
El valor 19, ocupa el inidice 9
El valor 21, ocupa el inidice 10
El valor 23, ocupa el inidice 11
El valor 25, ocupa el inidice 12
El valor 27, ocupa el inidice 13
El valor 29, ocupa el inidice 14

In [13]:
# Crear una matriz de nxm manualmente
import numpy as np
n = int(input('Ingrese la cantidad de filas: '))
m = int(input('Ingrese la cantidad de columnas: '))
Matriz = np.empty((n,m))
for i in range(len(Matriz)):
    for j in range(len(Matriz[0])):
        Matriz[i][j]= int(input('Ingrese el valor del elemento ({},{}): '.format(i,j)))
print('\n === Matriz A ===')      
print(Matriz)

Ingrese la cantidad de filas: 3
Ingrese la cantidad de columnas: 6
Ingrese el valor del elemento (0,0): 5
Ingrese el valor del elemento (0,1): 6
Ingrese el valor del elemento (0,2): 4
Ingrese el valor del elemento (0,3): 9
Ingrese el valor del elemento (0,4): 8
Ingrese el valor del elemento (0,5): 3
Ingrese el valor del elemento (1,0): 4
Ingrese el valor del elemento (1,1): 6
Ingrese el valor del elemento (1,2): 9
Ingrese el valor del elemento (1,3): 5
Ingrese el valor del elemento (1,4): 1
Ingrese el valor del elemento (1,5): 2
Ingrese el valor del elemento (2,0): 3
Ingrese el valor del elemento (2,1): 9
Ingrese el valor del elemento (2,2): 8
Ingrese el valor del elemento (2,3): 7
Ingrese el valor del elemento (2,4): 8
Ingrese el valor del elemento (2,5): 9

 === Matriz A ===
[[5. 6. 4. 9. 8. 3.]
 [4. 6. 9. 5. 1. 2.]
 [3. 9. 8. 7. 8. 9.]]

In [16]:
# Suma de Matrices dadas por el usuario:
import numpy as np
n = int(input('Ingrese la cantidad de filas: '))
m = int(input('Ingrese la cantidad de columnas: '))
Matriz_A = np.empty((n,m))
Matriz_B = np.empty((n,m))
for i in range(len(Matriz_A)):
    for j in range(len(Matriz_A[0])):
        Matriz_A[i][j]= int(input('Ingrese el valor del elemento ({},{}), de la matriz A: '.format(i,j)))
print('\n\n')
for i in range(len(Matriz_B)):
    for j in range(len(Matriz_B[0])):
        Matriz_B[i][j]= int(input('Ingrese el valor del elemento ({},{}), de la matriz B: '.format(i,j)))
matriz_suma = Matriz_A + Matriz_B

print('\nLa matriz resultante de la suma de las matrices "A" y "B", es: \n')
print(matriz_suma)

Ingrese la cantidad de filas: 3
Ingrese la cantidad de columnas: 3
Ingrese el valor del elemento (0,0), de la matriz A: 1
Ingrese el valor del elemento (0,1), de la matriz A: 2
Ingrese el valor del elemento (0,2), de la matriz A: 3
Ingrese el valor del elemento (1,0), de la matriz A: 4
Ingrese el valor del elemento (1,1), de la matriz A: 5
Ingrese el valor del elemento (1,2), de la matriz A: 6
Ingrese el valor del elemento (2,0), de la matriz A: 7
Ingrese el valor del elemento (2,1), de la matriz A: 8
Ingrese el valor del elemento (2,2), de la matriz A: 9



Ingrese el valor del elemento (0,0), de la matriz B: 1
Ingrese el valor del elemento (0,1), de la matriz B: 2
Ingrese el valor del elemento (0,2), de la matriz B: 3
Ingrese el valor del elemento (1,0), de la matriz B: 4
Ingrese el valor del elemento (1,1), de la matriz B: 5
Ingrese el valor del elemento (1,2), de la matriz B: 6
Ingrese el valor del elemento (2,0), de la matriz B: 7
Ingrese el valor del elemento (2,1), de la matriz B: 8
Ingrese el valor del elemento (2,2), de la matriz B: 9

La matriz resultante de la suma de las matrices "A" y "B", es:

[[ 2.  4.  6.]
 [ 8. 10. 12.]
 [14. 16. 18.]]

In [20]:
# Producto de dos matrices:
import numpy as np
A_n = int(input('Ingrese la cantidad de filas de la matriz A: '))
A_m = int(input('Ingrese la cantidad de columnas de la matriz A: '))
B_n = int(input('Ingrese la cantidad de filas de la matriz B: '))
B_m = int(input('Ingrese la cantidad de columnas de la matriz B: '))
Matriz_A = np.empty((A_n,A_m))
Matriz_B = np.empty((B_n,B_m))
if A_m == B_n:
    for i in range(len(Matriz_A)):
        for j in range(len(Matriz_A[0])):
            Matriz_A[i][j]= int(input('Ingrese el valor del elemento ({},{}), de la matriz A: '.format(i,j)))
    print('\n\n')
    for i in range(len(Matriz_B)):
        for j in range(len(Matriz_B[0])):
            Matriz_B[i][j]= int(input('Ingrese el valor del elemento ({},{}), de la matriz B: '.format(i,j)))
    
    print('La matriz resulado del producto de la matriz "A" por la matriz "B" es: ')
    print(Matriz_A.dot(Matriz_B))
else:
    print('\nNo es posible realizar el producto de la matriz "A" por la matriz "B".\n Debido a que el numero de columnas de la Matriz A, no coincide con el numero de filas de la matriz "B".')

Ingrese la cantidad de filas de la matriz A: 3
Ingrese la cantidad de columnas de la matriz A: 2
Ingrese la cantidad de filas de la matriz B: 3
Ingrese la cantidad de columnas de la matriz B: 5
No es posible realizar el producto de la matriz "A" por la matriz "B".
 Debido a que el numero de columnas de la Matriz A, no coincide con el numero de filas de la matriz "B".

In [21]:
# Ejercicio de diccionario:
ficha_cliente = {}
ficha_cliente['nombre']=str(input('Ingrese su nombre: '))
ficha_cliente['apellido'] = str(input('Ingrese su apellido: '))
ficha_cliente['edad'] = int(input('Ingrese su edad: '))
ficha_cliente['dni'] = int(input('Ingrese se DNI: '))
ficha_cliente['deposito'] = float(input('Ingrese la cantidad de dinero que pagara: '))
print(ficha_cliente)

Ingrese su nombre: Fernando
Ingrese su apellido: Geronimo
Ingrese su edad: 24
Ingrese se DNI: 40330222
Ingrese la cantidad de dinero que pagara: 596
{'nombre': 'Fernando', 'apellido': 'Geronimo', 'edad': 24, 'dni': 40330222, 'deposito': 596.0}

In [36]:
# Ejercicio
diccionario = {'Math':[],
               'English':[],
               'History':[],
               'Science':[],
               'IT':[]
              }
for key,value in diccionario.items():
    for n in range(3):
        value.append(int(input('Ingrese su nota N춿 {} en {}: '.format(n+1,key))))
    print('\n')
print(diccionario)
print('\n=== Media de las notas de cada asignatura ===')
for key, value in diccionario.items():
    print('La media de {} es: {}'.format(key,(sum(value)/len(value))))

Ingrese su nota N춿 1 en Math: 9
Ingrese su nota N춿 2 en Math: 9
Ingrese su nota N춿 3 en Math: 9


Ingrese su nota N춿 1 en English: 8
Ingrese su nota N춿 2 en English: 7
Ingrese su nota N춿 3 en English: 8


Ingrese su nota N춿 1 en History: 9
Ingrese su nota N춿 2 en History: 6
Ingrese su nota N춿 3 en History: 4


Ingrese su nota N춿 1 en Science: 8
Ingrese su nota N춿 2 en Science: 6
Ingrese su nota N춿 3 en Science: 5


Ingrese su nota N춿 1 en IT: 4
Ingrese su nota N춿 2 en IT: 8
Ingrese su nota N춿 3 en IT: 9


{'Math': [9, 9, 9], 'English': [8, 7, 8], 'History': [9, 6, 4], 'Science': [8, 6, 5], 'IT': [4, 8, 9]}

=== Media de las notas de cada asignatura ===
La media de Math es: 9.0
La media de English es: 7.666666666666667
La media de History es: 6.333333333333333
La media de Science es: 6.333333333333333
La media de IT es: 7.0

In [10]:
# ejericio: Dado un diccionario, vamos a solicitar al usuario una clave que quiera eliminar y vamos a eliminarla. Al final, le mostraremos el diccionario actualizado.
dicc = {'a': 1, 'e': 5, 'i': 3, 'o': 4, 'u': 5, 'b': 2, 'c': 3, 'd': 4}
#print('El diccionario original es: ',dicc,'\n')
a = dicc.keys()
print('Las claves del diccionario son: ',a)
clave = input('\nIngrese la clave que desea eliminar: ')
print('\nEl diccionario original es: ',dicc)
dicc.pop(clave)
print('\nEl nuevo diccionario sin la clave eliminada es: ',dicc)
#print(dicc)

Las claves del diccionario son:  dict_keys(['a', 'e', 'i', 'o', 'u', 'b', 'c', 'd'])

Ingrese la clave que desea eliminar: b

El diccionario original es:  {'a': 1, 'e': 5, 'i': 3, 'o': 4, 'u': 5, 'b': 2, 'c': 3, 'd': 4}

El nuevo diccionario sin la clave eliminada es:  {'a': 1, 'e': 5, 'i': 3, 'o': 4, 'u': 5, 'c': 3, 'd': 4}

In [12]:
print('** Ingrese los numeros de su DNI uno por uno **')
lista = []
for x in range(8):
    lista.append(int(input('Ingrese el digito N춿 {}: '.format(x+1))))
print(lista)

** Ingrese los numeros de su DNI uno por uno **
Ingrese el digito N춿 1: 4
Ingrese el digito N춿 2: 5
Ingrese el digito N춿 3: 6
Ingrese el digito N춿 4: 8
Ingrese el digito N춿 5: 4
Ingrese el digito N춿 6: 3
Ingrese el digito N춿 7: 5
Ingrese el digito N춿 8: 9
['4', '5', '6', '8', '4', '3', '5', '9']

In [18]:
# Vamos a leer un string por teclado y vamor a devolver un diccionario con la cantidad de apariciones de cada caracter en el string proporcionado por el usuario.

string = input('Ingrese un String: ')
string = string.lower()
dicc = {}
for x in string:
    suma = 0
    for n in string:
        if x in dicc.keys():
            continue
        else:
            if x == n:
                suma +=1
    dicc.setdefault(x,suma)
print(dicc)

Ingrese un String: hola soy fernando
{'h': 1, 'o': 3, 'l': 1, 'a': 2, ' ': 2, 's': 1, 'y': 1, 'f': 1, 'e': 1, 'r': 1, 'n': 2, 'd': 1}

In [20]:
# Vamos a leer un string por teclado y vamor a devolver un diccionario con la cantidad de apariciones de cada caracter en el string proporcionado por el usuario.

string = input('Ingrese un String: ')
string = string.lower()
dicc = {}
for x in string:
    suma = 0
    if x in dicc.keys() or x == ' ':
            continue 
    for n in string:
        if x == n:
            suma +=1
    dicc.setdefault(x.upper(),suma)
print(dicc)

Ingrese un String: hola soy fernando mucho gusto
{'H': 2, 'O': 5, 'L': 1, 'A': 2, 'S': 2, 'Y': 1, 'F': 1, 'E': 1, 'R': 1, 'N': 2, 'D': 1, 'M': 1, 'U': 2, 'C': 1, 'G': 1, 'T': 1}

### Ejercicio de Conjuntos

In [27]:
frase = input('Ingrese una frase: ')
frase = frase.lower()
set1 = set()
for x in frase:
    if x == ' ':
        continue
    set1.add(x)
print(set1)

Ingrese una frase: Hola soy Fernando
{'l', 'f', 'o', 'h', 'y', 'r', 'n', 's', 'd', 'e', 'a'}

In [33]:
palabra1 = input('Ingrese la primera palabra: ')
palabra2 = input('Ingrese la segunda palabra: ')
set1 = set()
set2 = set()
for x in palabra1.lower():
    set1.add(x)
for y in palabra2.lower():
    set2.add(y)    
print('La interseccion es: ',set1&set2)

Ingrese la primera palabra: nene
Ingrese la segunda palabra: mimo
La interseccion es:  set()

In [37]:
print('Intervalos: [a,b] y [c,d]\n')
a = int(input('Ingrese el valor de a: '))
b = int(input('Ingrese el valor de b: '))
c = int(input('Ingrese el valor de c: '))
d = int(input('Ingrese el valor de d: '))
if b < a or d < c:
    print('Los valores proporcionados no pueden formar los intervalos, ya que los valores deben cumplir: a<b y c<d') 
else: 
    A = set(range(a,b+1))
    B = set(range(c,d+1))
    print('La diferencia simetria es: ',A.symmetric_difference(B))

Intervalos: [a,b] y [c,d]

Ingrese el valor de a: 1
Ingrese el valor de b: 9
Ingrese el valor de c: 7
Ingrese el valor de d: 15
La diferencia simetria es:  {1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14, 15}

In [41]:
dic1 = {1,9,5,18,6,1,51,9,49151,-56,45,8,1,15191,519,12,15,45,3618,2,2,3,51,156,4}
maximo = -1E1000
for x in dic1:
    if x > maximo:
        maximo = x
print('El valor maximo del conjunto es: ',maximo)

El valor maximo del conjunto es:  49151

### Ejercicios de Tuplas

In [4]:
# Ejercicio
n = int(input('Cuantos n칰meros deseas ingresar?: '))
lista = []
sign=' '
for x in range(n):
    num = int(input('Ingrese el elemento N춿 {}: '.format(x+1)))
    if num>0:
        sign = 'positivo'
    elif num == 0:
        sign = 'cero'
    else:
        sign = 'negativo'
    lista.append((num,sign))
print('La lista es: \n',lista)

Cuantos n칰meros deseas ingresar?: 10
Ingrese el elemento N춿 1: 5
Ingrese el elemento N춿 2: -9
Ingrese el elemento N춿 3: 0
Ingrese el elemento N춿 4: 6
Ingrese el elemento N춿 5: 48
Ingrese el elemento N춿 6: -59
Ingrese el elemento N춿 7: 148
Ingrese el elemento N춿 8: 0
Ingrese el elemento N춿 9: -8889
Ingrese el elemento N춿 10: 69
La lista es:
 [(5, 'positivo'), (-9, 'negativo'), (0, 'cero'), (6, 'positivo'), (48, 'positivo'), (-59, 'negativo'), (148, 'positivo'), (0, 'cero'), (-8889, 'negativo'), (69, 'positivo')]

In [10]:
n = int(input('Ingrese un N칰mero entre el 1 y el 10: '))
tuplas = []
i = 0
palabra = ''
while n != 0:
    if n >= 1 and n < 5:
        palabra = 'suspenso'
    elif n >= 5 and n<7:
        palabra = 'aprobado'
    elif n >= 7 and n <9:
        palabra = 'notable'
    elif n>=9 and n<=10:
        palabra = 'excelente'
    else:
        print('\nERROR!!!')
        print('\nIngrese un n칰mero entero entre 1 y 10')
        print('FIN DEL PROGRAMA')
        break
    tuplas.append((n,palabra))
    print('Su tuplas es: {}'.format(tuplas[i]))
    i += 1
    n = int(input('Ingrese un N칰mero entre el 1 y el 10: '))
else:
    print('**El programa finalizo**')
    print('El conjunto de tuplas es: {}'.format(tuplas))

Ingrese un N칰mero entre el 1 y el 10: 9
Su tuplas es: (9, 'excelente')
Ingrese un N칰mero entre el 1 y el 10: 4
Su tuplas es: (4, 'suspenso')
Ingrese un N칰mero entre el 1 y el 10: 2
Su tuplas es: (2, 'suspenso')
Ingrese un N칰mero entre el 1 y el 10: 6
Su tuplas es: (6, 'aprobado')
Ingrese un N칰mero entre el 1 y el 10: 4
Su tuplas es: (4, 'suspenso')
Ingrese un N칰mero entre el 1 y el 10: 5
Su tuplas es: (5, 'aprobado')
Ingrese un N칰mero entre el 1 y el 10: 0
**El programa finalizo**
El conjunto de tuplas es: [(9, 'excelente'), (4, 'suspenso'), (2, 'suspenso'), (6, 'aprobado'), (4, 'suspenso'), (5, 'aprobado')]

In [15]:
frase = input('Ingrese una frase: ')
frase = frase.lower()
lista = []
vocal = 0
consonante = 0
espacio = 0
for x in frase:
    if x=='a' or x == 'e' or x == 'i' or x == 'o' or x == 'u':
        vocal +=1
    elif x == ' ':
        espacio +=1
    else:
        consonante += 1    
lista.append(('numero de vocales: ',vocal))
lista.append(('numero de consonantes: ',consonante))
lista.append(('numero de espacios: ',espacio))
print(lista)

Ingrese una frase: mi perro se llama juan
[('numero de vocales: ', 8), ('numero de consonantes: ', 10), ('numero de espacios: ', 4)]

In [19]:
# Video  numero 006 - Asignatuas, notas y nota medio - del tema de tuplas

# REVISAAAAAAR


materias = ['Mates','Lengua','Historia','Informatica','Musica']
tupla = []
print(materias)
asignatura = input('Ingrese la materia: ')
while asignatura in materias:
    nota = float(input('Ingrese la nota: '))
    tupla.append((asignatura,nota))
    asignatura = input('Ingrese la materia: ')
means = {'Mates': [],
         'Lengua':[],
         'Historia':[],
         'Informatica':[],
         'Musica':[]}
for item in tupla:
    means[item[0]].append(item[1])
print('\n === NOTAS MEDAS ===')
for key, val in means.items():
    print('La nota media de {} es {}'.format(key, 'desconocida' if len(val) == 0 else sum(val)/len(val)))

['Mates', 'Lengua', 'Historia', 'Informatica', 'Musica']
Ingrese la materia: Mates
Ingrese la nota: 8
Ingrese la materia: Mates
Ingrese la nota: 10
Ingrese la materia: Lengua
Ingrese la nota: 7
Ingrese la materia: Historia
Ingrese la nota: 7
Ingrese la materia: Historia
Ingrese la nota: 5
Ingrese la materia: Informatica
Ingrese la nota: 10
Ingrese la materia: Informatica
Ingrese la nota: 9
Ingrese la materia:

 === NOTAS MEDAS ===
La nota media de Mates es 9.0
La nota media de Lengua es 7.0
La nota media de Historia es 6.0
La nota media de Informatica es 9.5
La nota media de Musica es desconocida

In [4]:
puntos = int(input('Cuantos puntos desea ingresar? '))
lista = []
for m in range(puntos):
    x = int(input('\nIngrese el valor de "x", del punto N춿 {}: '.format(m+1)))
    y = int(input('Ingrese el valor de "y", del punto N춿 {}: '.format(m+1)))
    if x== 0 and y == 0:
        cuadrante = 'center'
    if x >= 0 and y >= 0:
        cuadrante = 'I'
    if x <= 0 and y >= 0:
        cuadrante = 'II'
    if x <= 0 and y <= 0:
        cuadrante = 'III'
    if x>= 0 and y <= 0:
        cuadrante = 'IV'
    lista.append((x,y,cuadrante))
print('\n')
for n in lista:
    x,y,cuadrante = n
    print('El punto ({},{}), pertenece al {} cuadrante'.format(x,y,cuadrante))

Cuantos puntos desea ingresar? 4

Ingrese el valor de "x", del punto N춿 1: -4
Ingrese el valor de "y", del punto N춿 1: 9

Ingrese el valor de "x", del punto N춿 2: 7
Ingrese el valor de "y", del punto N춿 2: 9

Ingrese el valor de "x", del punto N춿 3: -1
Ingrese el valor de "y", del punto N춿 3: -9

Ingrese el valor de "x", del punto N춿 4: 9
Ingrese el valor de "y", del punto N춿 4: -1


El punto (-4,9), pertenece al II cuadrante
El punto (7,9), pertenece al I cuadrante
El punto (-1,-9), pertenece al III cuadrante
El punto (9,-1), pertenece al IV cuadrante

In [5]:
lista = ['hola','perro','animal','luna','casa']
letras = []
for x in lista:
    letras.append(x[0])
conjunto = tuple(zip(lista,letras))
print(conjunto)

(('hola', 'h'), ('perro', 'p'), ('animal', 'a'), ('luna', 'l'), ('casa', 'c'))

## Ejercicio de Funciones

In [11]:
# Ejercicio
def contador(frase,letra):
    frase = frase.lower()
    contador = frase.count(letra)
    return contador

In [10]:
string = input('Ingresa una frase: ')
letra = input('Ingresa una letra: ')
print(contador(string,letra))

Ingresa una frase: Hola soy fernando y estoy programando en python a las 2 de la ma침ana saludos
Ingresa una letra: a
11

In [1]:
def condifion(n):
    if n == 0:
        a = '{} es cero.'.format(n)
    elif n > 0:
        a = '{} es positivo.'.format(n)
    else:
        a = '{} es negativo.'.format(n)
    return a

In [4]:
print(condifion(-9))

-9 es negativo.

In [19]:
def tabla(num):
    lista = []
    if type(num) != int:
        return 'El numero introducido no es entero'
    for x in range(10):
        print('{} x {} = {}'.format(num,x+1,(x+1)*num))
        lista.append((x+1)*num)
    return lista

In [21]:
print(tabla(3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [35]:
def detector(frase,letra):
    i = 0  
    while i < len(frase):
        if frase[i] == letra:      
            return True
        i +=1
    return False

In [36]:
print(detector('fernndo me llmo.','p'))

False

In [53]:
def funcion_recursiva(num):
    if num == 0:
        return 0
    print(num)
    return funcion_recursiva(num-1)

In [54]:
print(funcion_recursiva(10))

10
9
8
7
6
5
4
3
2
1
0

In [59]:
def factorial(numero):
    if numero == 0:
        return 1
    return numero*factorial(numero-1)

In [61]:
factorial(6)

720

In [62]:
def Fibonacci(index):
    if index == 0  or index ==1:
        return 1
    return Fibonacci(index-1)+ Fibonacci(index-2)

In [66]:
print(Fibonacci(5))

8

In [71]:
def ecuaciones (A,B):
    if A != 0:
        x = -B/A
        return 'x = {}'.format(x)
    return 'A no puede ser 0'

In [72]:
print(ecuaciones(1,1))

x = -1.0

In [76]:
def helper_print(operacion,x,y,resultado):
    print('El resultado de la {} de los n칰meros {} y {} es: {}.'.format(operacion,x,y,resultado))
def calculadora(operacion,x,y):
    if operacion == 'suma':
        resultado = x+y
        return helper_print(operacion,x,y,resultado)
    elif operacion == 'resta':
        resultado = x-y
        return helper_print(operacion,x,y,resultado)
    elif operacion == 'multiplicacion':
        resultado = x*y
        return helper_print(operacion,x,y,resultado)
    elif operacion == 'division':
        resultado = x/y
        return helper_print(operacion,x,y,resultado)
    else:
        return 'Ingreso la modalidad de operacion de forma incorrecta.'

In [77]:
calculadora('division',8,9)

El resultado de la division de los n칰meros 8 y 9 es: 0.8888888888888888.

### Ejercicios Funciones Lambda

In [6]:
discriminante = lambda a,b,c : b**2 - 4*a*c
print(discriminante(1,2,1))

0

In [13]:
tupla =lambda x:(x,x*2,x**2)
print(tupla(4))

(4, 8, 16)

In [16]:
lista = [-1,2,8,-7,6,1,-8,-2,4,6,-4,4,6,8,7]
positivos = list(filter(lambda x: x>= 0,lista))
print(positivos)

[2, 8, 6, 1, 4, 6, 4, 6, 8, 7]

In [20]:
from functools import reduce
def mas_a(palabra1,palabra2):
    if palabra1.count('a') > palabra2.count('a'):
        return palabra1
    return palabra2
palabras=['holaas','estas','carro','sabana','cazadora','casa','almhoada','camila','hakakala']
reduce(mas_a,palabras)

'hakakala'

In [23]:
# ejercicio con map()
def conversor_temperatura(dato):
    return (dato*9/5)+32
lista =[0,5,10,15,20,25,50,100,200]
list(map(conversor_temperatura,lista))

[32.0, 41.0, 50.0, 59.0, 68.0, 77.0, 122.0, 212.0, 392.0]

In [24]:
lista = ['holaa','hola','aaa','aaaaa','aaaaaa','aaaaa','aaaaaaaaaaaaaaaaaaaa','aaaaaaaaaa']
letra = 'a'
sorted(lista,key=lambda x: x.count(letra),reverse=True)

['aaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaa',
 'aaaaaa',
 'aaaaa',
 'aaaaa',
 'aaa',
 'holaa',
 'hola']

In [28]:
# Otra forma del ejercicio anterior
def total_letras(palabra,l):
    letras = 0
    for x in palabra.lower():
        if x == l.lower():
            letras +=1
    return letras
l = input('Ingresa una letra: ')
lista = ['holaa','hola','aaa','aaaaa','aaaaaa','aaaaa','aaaaaaaaaaaaaaaaaaaa','aaaaaaaaaa']
sorted(lista, key = lambda palabra: total_letras(palabra,l),reverse = True)

Ingresa una letra: a

['aaaaaaaaaaaaaaaaaaaa',
 'aaaaaaaaaa',
 'aaaaaa',
 'aaaaa',
 'aaaaa',
 'aaa',
 'holaa',
 'hola']

## Ejercicio de DataFrames

In [1]:

def palindromo(Texto):
    Texto = Texto.replace(" ","").lower()
    analisis_texto = Texto[::-1]
    if Texto == analisis_texto:
        return True
    return False

In [2]:
word = ['Hola','Zapato','Comida','Disco','Celular','Arroz','Basura','Carne','Diamante','Elefante','aua']
data = {'word': word,
        'legth': map(len,word),
        'start': map(lambda x: x[0],word),
        'end': map(lambda x: x[len(x)-1],word),
        'isPalindrome': map(palindromo,word)}
import pandas as pd
df = pd.DataFrame(data=data)
df

        word  legth start end  isPalindrome
0       Hola      4     H   a         False
1     Zapato      6     Z   o         False
2     Comida      6     C   a         False
3      Disco      5     D   o         False
4    Celular      7     C   r         False
5      Arroz      5     A   z         False
6     Basura      6     B   a         False
7      Carne      5     C   e         False
8   Diamante      8     D   e         False
9   Elefante      8     E   e         False
10       aua      3     a   a          True

In [3]:
word = df.set_index('word') # Indico que la columna 'word' sea la columna de indices
word.index.names = [None]  # Quite el nick 'word' de la columna de indices, tambien donde esta None podria ponerle otro nombre a la columna de indices
word

          legth start end  isPalindrome
Hola          4     H   a         False
Zapato        6     Z   o         False
Comida        6     C   a         False
Disco         5     D   o         False
Celular       7     C   r         False
Arroz         5     A   z         False
Basura        6     B   a         False
Carne         5     C   e         False
Diamante      8     D   e         False
Elefante      8     E   e         False
aua           3     a   a          True

In [4]:
# Calcular dimensiones
word.shape # (11,4) 11 filas, 4 columnas

(11, 4)

In [5]:
for x in list(word):
    print('=== {} ==='.format(x.upper()))
    print(word.loc[:,x],'\n\n')
    #print(x)

=== LEGTH ===
Hola        4
Zapato      6
Comida      6
Disco       5
Celular     7
Arroz       5
Basura      6
Carne       5
Diamante    8
Elefante    8
aua         3
Name: legth, dtype: int64


=== START ===
Hola        H
Zapato      Z
Comida      C
Disco       D
Celular     C
Arroz       A
Basura      B
Carne       C
Diamante    D
Elefante    E
aua         a
Name: start, dtype: object


=== END ===
Hola        a
Zapato      o
Comida      a
Disco       o
Celular     r
Arroz       z
Basura      a
Carne       e
Diamante    e
Elefante    e
aua         a
Name: end, dtype: object


=== ISPALINDROME ===
Hola        False
Zapato      False
Comida      False
Disco       False
Celular     False
Arroz       False
Basura      False
Carne       False
Diamante    False
Elefante    False
aua          True
Name: isPalindrome, dtype: bool

In [6]:
word2 = pd.DataFrame(word.iloc[:,[-3,-2,-1]])
word2

         start end  isPalindrome
Hola         H   a         False
Zapato       Z   o         False
Comida       C   a         False
Disco        D   o         False
Celular      C   r         False
Arroz        A   z         False
Basura       B   a         False
Carne        C   e         False
Diamante     D   e         False
Elefante     E   e         False
aua          a   a          True

In [8]:
word

          legth start end  isPalindrome
Hola          4     H   a         False
Zapato        6     Z   o         False
Comida        6     C   a         False
Disco         5     D   o         False
Celular       7     C   r         False
Arroz         5     A   z         False
Basura        6     B   a         False
Carne         5     C   e         False
Diamante      8     D   e         False
Elefante      8     E   e         False
aua           3     a   a          True

In [17]:
for i in word.itertuples():
    print('La palabra {}, {} es un palindromo de {} letras.'.format(i[0],'' if i[4] else 'no',i[1]))

La palabra Hola, no es un palindromo de 4 letras.
La palabra Zapato, no es un palindromo de 6 letras.
La palabra Comida, no es un palindromo de 6 letras.
La palabra Disco, no es un palindromo de 5 letras.
La palabra Celular, no es un palindromo de 7 letras.
La palabra Arroz, no es un palindromo de 5 letras.
La palabra Basura, no es un palindromo de 6 letras.
La palabra Carne, no es un palindromo de 5 letras.
La palabra Diamante, no es un palindromo de 8 letras.
La palabra Elefante, no es un palindromo de 8 letras.
La palabra aua,  es un palindromo de 3 letras.

In [22]:
# EJERCICIO vamos a cargar una url y a continuacion vamos a eliminar todos los valores NA.
import pandas as pd
sw = pd.read_csv("https://gist.githubusercontent.com/jncraton/68beb88e6027d9321373/raw/381dcf8c0d4534d420d2488b9c60b1204c9f4363/starwars.csv")
sw.head()

,SetID,Number,Variant,Theme,Subtheme,Year,Name,Minifigs,Pieces,UKPrice,USPrice,CAPrice,EUPrice,ImageURL,Owned,Wanted,QtyOwned
0,5860,10179,1,Star Wars,Ultimate Collector Series,2007,Ultimate Collector's Millennium Falcon,5.0,5197.0,342.49,499.99,NaN,NaN,http://images.brickset.com/sets/images/10179-1...,No,No,0
1,6522,10188,1,Star Wars,Ultimate Collector Series,2008,Death Star,24.0,3803.0,274.99,399.99,499.99,419.99,http://images.brickset.com/sets/images/10188-1...,No,No,0
2,4799,10143,1,Star Wars,Ultimate Collector Series,2005,Death Star II,NaN,3441.0,249.99,269.99,NaN,NaN,http://images.brickset.com/sets/images/10143-1...,No,No,0
3,23529,75059,1,Star Wars,Ultimate Collector Series,2014,Sandcrawler,14.0,3296.0,249.99,299.99,349.99,299.99,http://images.brickset.com/sets/images/75059-1...,No,No,0
4,8733,10221,1,Star Wars,Ultimate Collector Series,2011,Super Star Destroyer,5.0,3152.0,349.99,399.99,499.99,399.99,http://images.brickset.com/sets/images/10221-1...,No,No,0

In [24]:
sw.shape

(508, 17)

In [28]:
sw = sw.dropna() # METODO PARA ELIMINAR TODAS LAS OBSERVACIONES CON VALORES 'NaN'
sw.shape  # NO ES RECOMENDABLE ELIMINAR ESOS DATOS

(155, 17)

In [11]:
# EJERCICIO
start_df = word['start'].to_frame()  # Convertir una Serie en un Dataframe
for row in start_df.itertuples():
    print('La palabra {} empieza por {}'.format(row[0],row[1]))

La palabra Hola empieza por H
La palabra Zapato empieza por Z
La palabra Comida empieza por C
La palabra Disco empieza por D
La palabra Celular empieza por C
La palabra Arroz empieza por A
La palabra Basura empieza por B
La palabra Carne empieza por C
La palabra Diamante empieza por D
La palabra Elefante empieza por E
La palabra aua empieza por a

In [ ]:
length_list = word['legth'].tolist()
print(length_list)
length_list.remove(3)
print(length_list)

## Ejercitacion de POO

In [3]:
class RotionalNumber():
    def __init__(self,numerator, denominator = 1):
        if  type(numerator) == int  and type(denominator) is int: 
            self.numerator = numerator
            self. denominator = denominator
        else:
            print('El numerador y el denominador deben ser numeros enteros')

In [10]:
class RotionalNumber():
    def __init__(self,numerator, denominator = 1):
        if  type(numerator) == int  and type(denominator) is int: 
            self.numerator = numerator
            self. denominator = denominator
        else:
            print('El numerador y el denominador deben ser numeros enteros')
    def __str__(self):
        return '{}/{}'.format(self.numerator,self.denominator)

In [11]:
valor = RotionalNumber(8,4)
print(valor)

8/4

In [12]:
# Usar LaTex en string Python
class RotionalNumber():
    def __init__(self,numerator, denominator = 1):
        if  type(numerator) == int  and type(denominator) is int: 
            self.numerator = numerator
            self. denominator = denominator
        else:
            print('El numerador y el denominador deben ser numeros enteros')
    def __str__(self):
        return '{}/{}'.format(self.numerator,self.denominator)
    def mathFormat(self):
        from IPython.display import display, Latex
        display(Latex(f'${self.numerator}\\over{self.denominator}$'))

In [13]:
q = RotionalNumber(2,4)

In [14]:
q.mathFormat()

In [22]:
class RotionalNumber():
    def __init__(self,numerator, denominator = 1):
        if  type(numerator) == int  and type(denominator) is int: 
            self.numerator = numerator
            self. denominator = denominator
        else:
            print('El numerador y el denominador deben ser numeros enteros')
    def __str__(self):
        return '{}/{}'.format(self.numerator,self.denominator)
    def mathFormat(self):
        from IPython.display import display, Latex
        display(Latex(f'${self.numerator}\\over{self.denominator}$'))
    
    def quotient(self):
        return ('El cociente entre numerador y denominador es {}'.format(self.numerator/self.denominator))
    
    def isInfinite(self):
        if self.denominator == 0:
            return True
        return False

In [24]:
q = RotionalNumber(2,4)
q.mathFormat()

In [26]:
q.quotient()

'El cociente entre numerador y denominador es 0.5'

In [27]:
q.isInfinite()

False

In [1]:
# METODOS ESTATICOS
class RotionalNumber():
    def __init__(self,numerator, denominator = 1):
        if  type(numerator) == int  and type(denominator) is int: 
            self.numerator = numerator
            self. denominator = denominator
        else:
            print('El numerador y el denominador deben ser numeros enteros')
    def __str__(self):
        return '{}/{}'.format(self.numerator,self.denominator)
    def mathFormat(self):
        from IPython.display import display, Latex
        display(Latex(f'${self.numerator}\\over{self.denominator}$'))
    
    def quotient(self):
        return ('El cociente entre numerador y denominador es {}'.format(self.numerator/self.denominator))
    
    def isInfinite(self):
        if self.denominator == 0:
            return True
        return False
    @staticmethod
    def sum(rac1,rac2):
        return (rac1.numerator/rac1.denominator)+(rac2.numerator/rac2.denominator)
    @staticmethod
    def subract(rac1,rac2):
        return (rac1.numerator/rac1.denominator)-(rac2.numerator/rac2.denominator)
    @staticmethod
    def product(rac1,rac2):
        return (rac1.numerator/rac1.denominator)*(rac2.numerator/rac2.denominator)
    @staticmethod
    def division(rac1,rac2):
        return (rac1.numerator/rac1.denominator)/(rac2.numerator/rac2.denominator)

In [5]:
rac1 = RotionalNumber(1,2)
rac2 = RotionalNumber(2,3)
print('Suma: ',RotionalNumber.sum(rac1,rac2))
print('Resta: ',RotionalNumber.subract(rac1,rac2))
print('Producto: ',RotionalNumber.product(rac1,rac2))
print('Division: ',RotionalNumber.division(rac1,rac2))

Suma:  1.1666666666666665
Resta:  -0.16666666666666663
Producto:  0.3333333333333333
Division:  0.75

In [6]:
# METODO DE CLASE  --> ejercicio video 13 de POO - Gomila
import random
class RotionalNumber():
    def __init__(self,numerator, denominator = 1):
        if  type(numerator) == int  and type(denominator) is int: 
            self.numerator = numerator
            self. denominator = denominator
        else:
            print('El numerador y el denominador deben ser numeros enteros')
    def __str__(self):
        return '{}/{}'.format(self.numerator,self.denominator)
    def mathFormat(self):
        from IPython.display import display, Latex
        display(Latex(f'${self.numerator}\\over{self.denominator}$'))
    
    def quotient(self):
        return ('El cociente entre numerador y denominador es {}'.format(self.numerator/self.denominator))
    
    def isInfinite(self):
        if self.denominator == 0:
            return True
        return False
    @staticmethod
    def sum(rac1,rac2):
        return (rac1.numerator/rac1.denominator)+(rac2.numerator/rac2.denominator)
    @staticmethod
    def subract(rac1,rac2):
        return (rac1.numerator/rac1.denominator)-(rac2.numerator/rac2.denominator)
    @staticmethod
    def product(rac1,rac2):
        return (rac1.numerator/rac1.denominator)*(rac2.numerator/rac2.denominator)
    @staticmethod
    def division(rac1,rac2):
        return (rac1.numerator/rac1.denominator)/(rac2.numerator/rac2.denominator)
    
    @classmethod
    def random(cls):
        numerator = random.randrange(-100,100)
        denominator = random.randrange(-100,100)
        while denominator == 0:
            denominator = random.randrange(-100,100)
        return cls(numerator,denominator)
    
    @classmethod
    def zero(cls):
        numerator = 0
        denominator = 1
        return cls(numerator,denominator)
    
    @classmethod
    def one(cls):
        numerator = 1
        denominator = 1
        return cls(numerator,denominator)
    
    @classmethod
    def fromRealNumber(cls, f):  # f: float
        import math 
        numerator = f
        denominator = 1
        d , i = math.modf(numerator)
        while d != 0:
            numerator *= 10
            denominator *= 10
            d,i = math.modf(numerator)
        numerator = int(numerator)
        denominator = int(denominator)
        return cls(numerator,denominator)

In [33]:
p = RotionalNumber.random()
p.mathFormat()

In [39]:
zero= RotionalNumber.zero()
zero.mathFormat()

In [40]:
one = RotionalNumber.one()
one.mathFormat()

In [43]:
q = RotionalNumber.fromRealNumber(5.4)
q.mathFormat()

In [44]:
import random
class RotionalNumber():
    def __init__(self,numerator, denominator = 1):
        if  type(numerator) == int  and type(denominator) is int: 
            self.numerator = numerator
            self. denominator = denominator
        else:
            print('El numerador y el denominador deben ser numeros enteros')
    def __str__(self):
        return '{}/{}'.format(self.numerator,self.denominator)
    @property
    def mathFormat(self):
        from IPython.display import display, Latex
        display(Latex(f'${self.numerator}\\over{self.denominator}$'))
    @property
    def quotient(self):
        return ('El cociente entre numerador y denominador es {}'.format(self.numerator/self.denominator))
    
    def isInfinite(self):
        if self.denominator == 0:
            return True
        return False
    @staticmethod
    def sum(rac1,rac2):
        return (rac1.numerator/rac1.denominator)+(rac2.numerator/rac2.denominator)
    @staticmethod
    def subract(rac1,rac2):
        return (rac1.numerator/rac1.denominator)-(rac2.numerator/rac2.denominator)
    @staticmethod
    def product(rac1,rac2):
        return (rac1.numerator/rac1.denominator)*(rac2.numerator/rac2.denominator)
    @staticmethod
    def division(rac1,rac2):
        return (rac1.numerator/rac1.denominator)/(rac2.numerator/rac2.denominator)
    
    @classmethod
    def random(cls):
        numerator = random.randrange(-100,100)
        denominator = random.randrange(-100,100)
        while denominator == 0:
            denominator = random.randrange(-100,100)
        return cls(numerator,denominator)
    
    @classmethod
    def zero(cls):
        numerator = 0
        denominator = 1
        return cls(numerator,denominator)
    
    @classmethod
    def one(cls):
        numerator = 1
        denominator = 1
        return cls(numerator,denominator)
    
    @classmethod
    def fromRealNumber(cls, f):  # f: float
        import math 
        numerator = f
        denominator = 1
        d , i = math.modf(numerator)
        while d != 0:
            numerator *= 10
            denominator *= 10
            d,i = math.modf(numerator)
        numerator = int(numerator)
        denominator = int(denominator)
        return cls(numerator,denominator)

In [45]:
q = RotionalNumber(8,7)

In [47]:
q.mathFormat

In [48]:
q.quotient

'El cociente entre numerador y denominador es 1.1428571428571428'

In [1]:
def sum(a,b):
    return a*b
    return a+b
print(sum(2,3))

6

In [2]:
class Point2D(object):
    
    def __init__(self, x,y):
        self.x = x
        self.y = y
        
    def __str__(self):
        return '({}, {})'.format(self.x, self.y)
    
    @classmethod
    def zero(cls):
        return cls(0, 0)

In [18]:
class Point3D(Point2D):
    
    def __init__(self , x, y, z):
        super().__init__(x,y)   # AQUI USO SUPER PARA METODOS
        self.z = z
    
    def  __str__(self):
        return super().__str__()[:-1] + ', {})'.format(self.z)
    
    @classmethod
    def zero(cls):
        return cls(0,0,0)

In [19]:
p = Point2D(1,-1)
print(p)

(1, -1)

In [20]:
cero2D = Point2D.zero()
print(cero2D)

(0, 0)

In [21]:
q = Point3D(1,2,3)
print(q)

(1, 2, 3)

In [24]:
cero3D = Point3D.zero()
print(cero3D)

(0, 0, 0)

In [25]:
class Square():
    def __init__(self, base):
        self.base = base
        
    @property
    def perimeter(self):
        return 4 * self.base
    
    @property
    def area(self):
        return self.base * self.base
    
class Triangle():
    def __init__(self, base, height):
        self.base = base
        self.height = height
        
    @property
    def area(self):
        return 0.5 * self.base * self.height

In [28]:
import math
class Pytamid(Square, Triangle):
    
    def __init__(self, base, height):
        super().__init__(base)
        # Altura de la piramite
        self.height = height
    @property
    def slant_height(self):
        return math.sqrt((self.base / 2)**2 + self.height ** 2)
    
    @property
    def area(self):
        base_area = super().area
        base_perimeter = super().perimeter
        lateral_area = 0.5 * base_perimeter * self.slant_height
        return lateral_area + base_area
    
    @property
    def volume(self):
        base_area = super().area
        return base_area * self.height / 3

In [30]:
p = Pytamid(2,2)

In [32]:
p.area

12.94427190999916

In [34]:
p.volume

2.6666666666666665

# Scripts

In [3]:
h = '1'
g = '2'
print(h+g)

12

In [7]:
nombre, edad = input('Ingrese su Nombre: '), input('Ingrese su edad: ')
print(nombre[0].upper()+nombre[nombre.find(' ')+1].upper()+edad+'@gmail.com')

Ingrese su Nombre: luis fernando
Ingrese su edad: 25
LF25@gmail.com

In [31]:
lista = [abs(ele) for ele in range(-5,6)]  # Convertir una lista a todos sus elemento en valor absoluto
print(lista)
for x,y in zip(lista[::-1],lista[5:]):
        print('*'*x+' '*y+' '*y+'*'*x)
#print(end=' ')
#for x,y in zip(lista,lista[::-1]):
#        print('*'*x+' '*y+' '*y+'*'*x)

[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]
**********
****  ****
***    ***
**      **
*        *

In [27]:
#lista = [abs(list(range(-5,6)))]


res =  [abs(ele) for ele in range(-5,6)]
print(res)

[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]

In [ ]:
## quede en comenza la clase de concatenacion de array

In [6]:
2**2**3

256

In [35]:
num = [1,2,3]
val = num
del val[1:2]

print(num)
print(val)
num == val

[1, 3]
[1, 3]

True

In [36]:
num = [1,2,3]
val = num[-1:-2]


print(num)
print(val)
num == val

[1, 2, 3]
[]

False

In [39]:
h = [[0,1,2,3] for i in range(2)]
print(h[2][0])

IndexError: list index out of range

In [40]:
a= 1
b = 0
c = a&b
d = a|b
e = a^b
print(c+d+e)

2

In [41]:
t = [[3-i for i in range(3)] for j in range (3)]
s = 0
for i in range(3):
    s += t[i][i]
print(s)

6

In [45]:
var = 1
while var < 10:
    print("#")
    var = var << 1
    print(var)

#
2
#
4
#
8
#
16

In [46]:
l1 = [1,2,3]
l2 = []
for v in l1:
    l2.insert(0, v)
print(l2)

[3, 2, 1]

In [47]:
l = [i for i in range(-1,2) ]
l

[-1, 0, 1]

In [48]:
l = [1,2,3]
for v in range(len(l)):
    l.insert(1,l[v])
print(l)

[1, 1, 1, 1, 2, 3]

In [49]:
for i in range(1):
    print('#')
else:
    print('#')

#
#

In [50]:
l = [1,2,3,4]
print(l[-3:-2])

[2]

In [56]:
val = [0,1,2]
val.insert(0,1)
del val[1]
val

[1, 1, 2]

In [57]:
m = [3,1,-2]
print(m[m[-1]])

1

In [58]:
# Quede en el video 34 de numpy, debo verlo, se llamar Funciones de Productos

In [1]:
# Comenzar con Representacion Grafica