# Curso: Introducción a la importación de datos en Python


## Leer un archivo de texto (**`.txt`**)


Para verificar cualquier archivo de texto sin formato, puede usar la función de apertura básica de Python para abri una conexión con el archivo.

Para hacerlo, asigna el nombre del archivo a una varibale como una cadena, pasa el nombre del archiovo a la función open y también le pasa el modo de argumento es igual a **`'r'`**, lo que asegura que solo podamos leerlo (no nos gustarias escribirlo accidentalmente.), asgine el texto del archivo a un texto variable aplicando el métodod e lectura a la conexión con el archivo.

Después de hacer esto, asegúrese de cerrar la conexión con el archivo usando el comando `file.close()`. Luego puede imprimir el archivo en la consola y verificarlo usando el comando `print(text)`.

In [16]:
filename = './datasets/seaslug.txt'

file = open(filename, mode = 'r')

text = file.read()

print(text)

file.close()  # Cerrar siempre el archivo luego de terminar de manipularlo

## Escribir en un archivo

Si quisieras abrir un archivo en orden para escribirle, le pasaría el modo de argumento igual a **`'w'`**.

In [13]:
filename = './datasets/seaslug.txt'

file = open(filename, mode = 'w')

file.close()


## Administrador de contexto `with`


Puede evitar tener que cerrar la conexión con el archivo utilizando una sentencia `with`. Esto le permite crear un contexto en el que puede ejecutar comandos con el archivo abierto. Una vez fuera de esta cláusula/contexto, el archivo ya no está abierto y, por este motivo, se denomina Administrador de contexto.


Lo que está haciendo aquí se llama "vincular" una variable en la construcción del administrador de contexto; mientras aún esté dentro de esta construcción, el archivo variable estará vinculado a `open(filename, 'r')`.

Es una buena practica usar la declaración `with` ya que nunca tendrá que preocuparse por cerrar los archivos nuevamente.

In [18]:
with open('./datasets/seaslug.txt', 'r') as file:
    print(file.read())

Recuerde el alma dormida
Avive el seso y despierte
Contemplando
CÃ³mo se pasa la vida,
CÃ³mo se viene la muerte,
Tan callando,
CuÃ¡n presto se va el placer,
CÃ³mo, despuÃ©s de acordado
Da dolor,
CÃ³mo, a nuestro parecer,
Cualquier tiempo pasado
Fue mejor.

# La importancia de los archivos planos en la ciencia de datos


## Archivos planos

Ahora que sabe cómo importar archivos de texto sin formato, vamos a ver archivos planos, como "titanic.csv", en el que cada fil es un pasajero único a bordo y la columna es una caracteristica del atributo, como género, cabina y "sobrevivió o no".


---

Los archivos planos son archivos de texto básico que contienen registros, es decir, datos de tabla, sin relaciones estructuradas. Esto contrasta con una base de datos relacional, por ejemplo, en la que se pueden relacionar columnas de tablas distintas. Para ser aún más precisos, los archivos planos consisten en registros, donde un registro se refiere a una fila de campos o atributos, cada uno de los cuales contiene como máximo un elemento de información.

## Header

También es esencial tener en cuenta que un archivo plano pueda tener un encabezado, como en el "titanic.csv", que es una fila que ocurre como la primera fila, y describe el contenido de las columnas de datos o establecer cuáles son los atributos o características correspondientes en cada columnas.

Será importante saber si su archivo tiene o no un encabezado, ya que puede alterar la importación de datos.

La razón por la que los archivos planos son tan importantes en la ciencia de datos es que a los cientificos de datos realmente les gusta pensar en registris o filas de atributos.


## Extensión del archivo

Ahora es posible que haya notado que la extensión del archivo es `.csv`. CSV es un acrónimo de valor separado por comas y significa exactamente lo que dice. Los valores de cada fila están separados por comas.


Otra extensión común para un archivo plano es `.txt`, lo que significa un archivo de texto. Los valores en archivos sin formato se pueden separar por caracteres o secuencias de caracteres distintos que las comas, como un tabulador, y el carácter o caracteres en cuestión se denomina **delimitador**.



## Archivo delimitado por tabulador


Vea aquí un ejemplo de un archivo delimitado por tabuladores. Los datos consisten en el famoso reconodimiento de dígitos MNIST imagenes, donde cada fila contiene los valores de píxeles de una imagen determinada. 

Tenga en cuenta que todos los campos en los datos MNIST son numéricos mientras que en el "titanic.csv" también contenía cadenas.

<img src=".\img_3\1.png" width="350px" height="350px">

<img src=".\img_3\2.png" width="150px" height="350px">


## Como importamos estos archivos?

Si consiste completamente en números y queremos almacenarlos como una matriz numpy, podríamos usar numpy.

Si, en cambio, queremos almacenar los datos en un marco de datos (DataFrame), podríamos usar pandas.

La mayoria de las veces, utilizará una de estas opciones.

# Importación de archivos planos usando NumPy


¿Qué sucede si ahora desea importar un archivo plano y asignarlo a una variable?

Si todos los datos son numéricos, puede usar el paquete numpy para importar los datos como una matriz numpy.

¿Por qué querriamos hacer esto?

## ¿Por qué Numpy?

En primero lugar, las matrices numpy son el estándar de Python para almacenar datos numéricos. Son eficientes, rápidos y limpios.

En segundo lugar, las matrices numpy suelen ser esenciales para otros paquetes, comoscikit-learn, un popular paquete de aprendizaje automatico para Python.

Numpy en si tiene una serie de funcionalidades integradas que hacen que sea mucho más fácil y eficiente para nosotros importar datos como matrices.


Ingrese las funciones Numpy `loadtxt()` y `genfromtxt()`.


## Importar archivo planos usando NumPy

Para usar cualquiera de estos, primero debemos importar NumPy. Luego llamamos a `loadtxt()` y le pasamos el nombre del archivo como primer argumento, junto con el delimitador, como segundo argumento. Tenga en cuenta que el delimitador predeterminado es cualquier espacio en blanco, por lo que normalmente necesitaremos especificarlo explícitamente.

In [10]:
import numpy as np

filename = './datasets/MNIST.txt'

data = np.loadtxt(filename, delimiter = ',')

data

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [2., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])


## Personalización de la importación de Numpy

Hay una serie de argumentos adicionales que tal vez desee especificar.

Si, por ejemplo, sus datos consisten en números y su encabezado tiene cadenas, como en el MNIST datos de dígitos, querrá omitir la primer fila llamando a `loadtxt` con el argumento `skiprows = 1`.

In [33]:
import numpy as np

filename = './datasets/MNIST.txt'

data = np.loadtxt(filename, delimiter = ',', skiprows = 1) #skiprows = [1], , usecols= [0,1]

print(data)

[[0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [4. 0. 0. ... 0. 0. 0.]
 ...
 [2. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [5. 0. 0. ... 0. 0. 0.]]


Si solo desea la primera y la tercera columna de los datos, querrá establecer `usecols = [0,2]`.

<img src=".\img_3\4.png" width="150px" height="350px">


### Importar matriz compuesta de cadenas

También puede importar diferentes tipos de datos en matrices NumPy: por ejemplo, establecer el argumento `dtype = str` garantizará que todas las entradas se importen como cadenas.

**`data = np.loadtxt(filename, delimiter = ',', dtype = str)`**


## Tipos de datos Mixtos

`loadtxt` es excelente para casos básicos, pero tiende a fallar cuando tenemos tipos de datos mixtos, por ejemplo, columnas que consisten en flotadores y columnas que consisten en cadenas, como vimos en el conjunto de datos Titanic.

# Importar archivos planos usando Pandas



## Qué necesit un cientifico de datos:

Tener "una estructura de datos etiquetas [bi]dimensionales con columnas de tipos potencialmente diferentes" en los que puede realizar fácilmente una gran cantiad de cosas de tipo Data Sceincey: manipular, dividr, remodelar, agrupar, unir, fusionar, realizar estadísticas de una manera amigable con los valores faltantes, manejar series de tiempo.

La necesitad de tal estructura de datos, entre otras cuestiones, llevó a Wws McKinney a desarrollar la bibilioteca pandas para Python. Nada hablas más del proyecto de pandas que la propia documentación: "Python durante mucho tiempo ha sido excelente para la recopilación y preparación de datos, pero no tanto para el análisis y modelado de datos. Pandas ayuda a llenar este vacío, permitíendole llevar a cabo todo su análisis de datos y flujo de trabajo en Python sin tener que cambiar a un lenguaje más especifico de dominio como R".


La estructura de datos más relevante para el flujo de trabajo de análisis y manipulación de datos que ofrece pandas es el marco de datos y es el análogo Pythonic del marco de datos de R.



## Manipulando DataFrames Con Pandas


La manipulación de marco de datos en pandas puede ser útil en todos los pasos del método cientifico de datos, desde el análisis exploratorio de datos hasta la disputa de datos, el preprocesamiento, la construcción de modelos y la visualización. 

Aquí veremos su gran utilidad en la importación de archivos planos, incluso en la forma en que trata con datos faltantes, comentarios juntos con muchos otros problemas que afectan a los cientificos de datos en funcionamiento. Por todas estas razones, ahora es estándar y la mejor práctica en Data Science para usar pandas para importar archivos planos como DataFrames.



## Importar usando Pandas

Para usar pandas, primero debe importarlo. Entonces, si deseamos importar un CSV en el caso más básico, todo lo que tenemos que hacer es llamar a la función `read_csv()` y proporciones un solo argumento, el nombre del archivo. Habiendo asignado el DataFrame a una variable, podemos verificar las primeras 5 filas del DataFrame, incluido el encabezado, con el comando `.head()`.

Tambien podemos convertir fácilmente el DataFrame en una matriz numpy llamando al atributo `.values` en el DataFrame.

In [4]:
import pandas as pd

df = pd.read_csv(r'.\datasets\titanic_sub.csv')
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

Tambien podemos convertir fácilmente el DataFrame en una matriz numpy llamando al atributo `.values` en el DataFrame.

In [7]:
df.values # Me devuelve un arreglo bidimensional de numpy

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

### Argumentos de `read_csv()`

Complete **`sep`**(la pandasversión de delim) **`comment`** los **`na_values`** argumentos de pd.read_csv(). **`comment`** toma los caracteres que aparecen después de los comentarios en el archivo, que en este caso es '#'. **`na_values`** toma una lista de cadenas para reconocer como NA/ NaN, en este caso la cadena 'Nothing'. **`sep`** es el argumento donde se declara el delimitador que podria ser `','`, `'\t'`, etc.

# Introducción a otros tipos de archivos


## Otros tipos de archivos

* **`Hojas de calculo Excel`**
* **`Archivos MATLAB`** 
* **`Archivos SAS`**
* **`Archivos Stata`**
* **`Archivos HDF5`**

Los archivos HDF5 se están convirtiendo en una forma más frecuente de almacenar grandes conjuntos de datos, ya que demostrado por el hecho de que los investigadores de LIGO lo utilizan para almacenar sus datos.


## Archivos Decapado

Este es un tipo de archivo nativo de Python. El concepto de decapado de un archivo está motivado por lo siguiente: si bien puede ser fácil guardar una matriz numpy o un DataFrame de pandas en un archivo plano, hay muchos otros tiposd e datos, como diccionarios y listas, para loas que no es obvio cómo almacenarlos.


Si desea que sus archivos sean legibles por humanos, es posible que desee guardarlos como archivos de texto de una manera inteligente (los JSON, son apropiados para los diccionarios de Python). Sin embargo, si simplemente desea poder importarlos a Python, puede serializarlos. Todo esto significa convertir el objeto en una secuencia de bytes o flujo de bytes.


---

## Importar archivos Decapados


Como lo ha hecho antes, al abrir un archivo de este tipo, querrá especificar que es de solo lectura; Tambien quiero especificar que es un archivo binario, lo que significa que es legible por computadora y no por humanos.

Para especificar solo lectura y binario, querrá pasar la cadena `'rb'` como segundo argumento de `open()`.

In [7]:
import pickle

with open('./datasets/avoplotto.pkl', 'rb') as file:
    data = pickle.load(file)

data

            date          type  year  avg_price         size     nb_sold
0     2015-12-27  conventional  2015       0.95        small  9626901.09
1     2015-12-20  conventional  2015       0.98        small  8710021.76
2     2015-12-13  conventional  2015       0.93        small  9855053.66
3     2015-12-06  conventional  2015       0.89        small  9405464.36
4     2015-11-29  conventional  2015       0.99        small  8094803.56
...          ...           ...   ...        ...          ...         ...
1009  2018-02-04       organic  2018       1.53  extra_large     1703.52
1010  2018-01-28       organic  2018       1.61  extra_large     1270.61
1011  2018-01-21       organic  2018       1.63  extra_large     1490.02
1012  2018-01-14       organic  2018       1.59  extra_large     1580.01
1013  2018-01-07       organic  2018       1.51  extra_large     1289.07

[1014 rows x 6 columns]

## Importar Hojas de cálculo Excel


Un archivo de Excel generalmente consta de varias hojas. Hay muchas formas de importar archivos Excel y usted use pandas para hacerlo porque produce DataFrame de forma nativa, lo cual es excelente para su práctica como cientifico de datos.

## Importar y mostrar lista con los nombres de las hojas

Como puede ver en este ejemplo, puede usar la función `ExcelFile()` para asignar un archivo de Excel a una variable de datos.

Como un archivo de Excel consta de hojas, lo primero que debe hacer es averiguar cuáles son las hojas. Esto es sencillo con el comado (atributo) `.sheet_names`.

In [13]:
import pandas as pd


file = './datasets/Earlwood_Air_Data.xls'

data = pd.ExcelFile(file)
print(data.sheet_names)  # Me muestra los nombres de las diferentes hojas que contiene el archivo Excel

['worksheet1']

## Mostrar una hoja en espeficico de un archivo Excel

Para luego cargar una hoja en particular como un DataFrame, solo necesita aplicar el método `.parse()` al objeto `data` con un solo argumento, que es el nombre como una cadena o el índice como un flotante de la hoja que desea carga: Pandas es lo suficientemente inteligennte como para saber si le está diciendo el nombre de la hoja o el índice.

In [18]:
df1 = data.parse('worksheet1')  # Usando el nombre de la hoja como String
df1.head(2)

,Date,Time,EARLWOOD WDR 1h average [°],EARLWOOD TEMP 1h average [°C],EARLWOOD WSP 1h average [m/s],EARLWOOD NO 1h average [pphm],EARLWOOD NO2 1h average [pphm],EARLWOOD CO 1h average [ppm],EARLWOOD OZONE 1h average [pphm],EARLWOOD OZONE 4h rolling average [pphm],EARLWOOD PM10 1h average [µg/m³],EARLWOOD PM2.5 1h average [µg/m³],EARLWOOD HUMID 1h average [%],EARLWOOD SD1 1h average [°],EARLWOOD CO 8h rolling average [ppm]
0,01/01/2017,01:00,152.3,22.6,0.4,0.0,0.4,NaN,2.0,2.1,23.6,7.0,87.2,49.01,NaN
1,01/01/2017,02:00,134.0,22.6,0.3,NaN,NaN,NaN,NaN,2.2,21.0,6.6,87.2,46.56,NaN

In [20]:
df2 = data.parse(0)  # Usando el índice de la hoja, (inicia en 0 como en una lista)

df2.head(2)

,Date,Time,EARLWOOD WDR 1h average [°],EARLWOOD TEMP 1h average [°C],EARLWOOD WSP 1h average [m/s],EARLWOOD NO 1h average [pphm],EARLWOOD NO2 1h average [pphm],EARLWOOD CO 1h average [ppm],EARLWOOD OZONE 1h average [pphm],EARLWOOD OZONE 4h rolling average [pphm],EARLWOOD PM10 1h average [µg/m³],EARLWOOD PM2.5 1h average [µg/m³],EARLWOOD HUMID 1h average [%],EARLWOOD SD1 1h average [°],EARLWOOD CO 8h rolling average [ppm]
0,01/01/2017,01:00,152.3,22.6,0.4,0.0,0.4,NaN,2.0,2.1,23.6,7.0,87.2,49.01,NaN
1,01/01/2017,02:00,134.0,22.6,0.3,NaN,NaN,NaN,NaN,2.2,21.0,6.6,87.2,46.56,NaN

# Importación de archivos SAS/Stata usando pandas

Existen muchos paquetes de software estadístico y, aunque es posible que no necesite hacerlo todo el tiempo. Será importante para usted, como cienfico de datos en activo, poder importar estos archivos a su entorno de Python.


## Archivos SAS y Stata


Los ejemplo más comunes son SAS, que es un acrónimo de "Statistical Analysis System" y Stata, es una contracción de "Statistics" y "Data".

El primero se usa mucho en análisis de negocios y bioestadística, mientras que este último es popular en la investigación académica de la ciencias sociales, como la economia y la epidemiología.


## Archivos SAS

Los archivos SAS son importante porque SAs es un paquete de software que realiza analítica avanada, análisis multivariante, inteligencia empresarial, gestión de datos, análisis predictivo y es un estándar para que los estadísticos realicen análisis computacional.


## Importar un Archivo SAS

Los archivos SAS más comunes tiene la extensión `.sas7bdat` y `.sas7bcat`, que son archivos de conjunto de datos y archivos de catálogos respectivamente.

Aprendera a importar los primeros como DataFrame usando la función `SAS7BDAT` del paquete `sas7bdat`.

En este caso, puede vincular el archivo de variables a una conexión con el archivo "sales.sas7bdat" en un administrador de contexto. Dentro de este contexto, puede asignar a una variable df_sas el resultado de aplicar el método `.to_data_frame` al archivo.

In [37]:
pip install sas7bdat  # Instalar libreria SAS7BDAT

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#'

In [40]:
import pandas as pd

from sas7bdat import SAS7BDAT

with SAS7BDAT('./datasets/sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

df_sas.head()

     YEAR     P           S
0  1950.0  12.9  181.899994
1  1951.0  11.9  245.000000
2  1952.0  10.7  250.199997
3  1953.0  11.3  265.899994
4  1954.0  11.2  248.500000

# Importar Archivos Stata


Los archivos Stata tienen extensión `.dta` y podemos importarlos usando pandas. Simplemente pasamos el nombre del archivo a la función `read_stata` y lo asignamos a una variable.

In [41]:
import pandas as pd

data = pd.read_stata('./datasets/disarea.dta')

data.head()

,wbcode,country,disa1,disa2,disa3,disa4,disa5,disa6,disa7,disa8,...,disa16,disa17,disa18,disa19,disa20,disa21,disa22,disa23,disa24,disa25
0,AFG,Afghanistan,0.00,0.00,0.76,0.73,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.02,0.00,0.00
1,AGO,Angola,0.32,0.02,0.56,0.00,0.0,0.00,0.56,0.0,...,0.0,0.4,0.0,0.61,0.00,0.0,0.99,0.98,0.61,0.00
2,ALB,Albania,0.00,0.00,0.02,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.16
3,ARE,United Arab Emirates,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00
4,ARG,Argentina,0.00,0.24,0.24,0.00,0.0,0.23,0.00,0.0,...,0.0,0.0,0.0,0.00,0.05,0.0,0.00,0.01,0.00,0.11